html {
  scrollbar-width: 0%;
  scrollbar-color: transparent;
}

*::-webkit-scrollbar {
  width: 0%;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
} 