html, body {
	padding:0;
	margin:0;
	top: 0;
	background-color: #202020;
	background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
	color: black;
	font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
}





a {
	color: black;
}

a#login {
	color: black;
}