/* BARRE DE NAVIGATION */
nav {
    position: absolute;
}
.navbar {
    background-color: #158991;
    width: 100%;
    z-index: 6;
    margin-bottom: 5%;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* EFFET DE STICKY SUR LES ÉCRANS PLUS GRANDS */
@media (min-width: 600px) {
    .navbar {
        position: sticky;
        top: 0;
        box-shadow: 0px 5px 10px #158991, 0px -2px 10px rgba(0, 0, 0, 1);
    }
}

/* NAVIGATION SCROLLABLE POUR LES PETITS ÉCRANS */
@media (max-width: 599px) {
    .navbar {
        position: relative;
        box-shadow: none;
    }
}


.lignenav {
    height: 2px;
    display: flex;
    margin: auto;
    background-color: #858585;
    width: 100%;
    box-shadow: 0px 5px 10px #158991, 0px -2px 10px rgba(0, 0, 0, 1);
    z-index: 4;
}

/*.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}*/