::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb {
    background-color: #d6d6d6; 
    border-radius: 10px; 
    border: 2px solid #ffffff;
    transition: background-color 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color:  #158991;
}