/* BASE */
@media only screen and (max-width: 915px) {

	p {
		font-size: 10px;
	}

	a {
		font-size: 20px;
	}

	#play {
		width: 67.5%;
		padding: 0.75%;
		padding-bottom: 1.5%;
		border-radius: 50px;
	}

	a#nav {
		font-size: 15px;
	}

	#play:hover {
		width: 72.5%;
	}

	div#wave.acceuil {
		bottom: 0;
	}

	img#logo.header {
		width: 75%;
	}

	img#logo.header:hover {
		width: 80%;
	}

	.footer {
		font-size: 12.5px;
		color: white;
		text-decoration-color: #1F7B06;
	}

	.bdg {
		text-decoration-line: underline;
	}

}


/*@media only screen and (max-width: 550px) {

	div#wave.footer {
		position: relative;	
	}

}

@media only screen and (min-width: 600px) {

	div#wave.footer {
		position: absolute;	
	}
	
}*/


@media (max-width: 915px) {
  div#page {
    flex-direction: column;
  }
  
  div#page > div {
    width: 80%;
    margin: 20px auto;
  }
}